.guess-button {
  display: block;
  background-color: #28a745;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: auto auto;
}

.guess-button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.guess-button:active {
  background-color: #1e7e34;
  transform: translateY(1px);
}

.guess-button:disabled {
  background-color: #6c757d;
  color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.guessr-photo {
  width: calc(100% + 20px);
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: -10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
}

#fullscreen {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

#fullscreen img {
  max-width: 90%;
  max-height: 90%;
}

.line {
  position: absolute;
  width: 5px;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 8px,
    rgb(248, 127, 147) 8px,
    rgb(248, 127, 147) 16px
  );
  transform-origin: top;
}

.hint {
  color: #515558;
  font-size: 0.75em;
}

.game-status {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
  transition: font-size 0s;
}

.game-status-column {
  text-align: center;
  width: 50%;
}

.game-status.finished {
  font-size: 40px;
  transition: font-size 2s;
}

h2 {
  text-align: center;
}
