@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(244, 237, 220);
  color: white;
  display: flex;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

#root {
  display: flex;
  width: 100%;
  height: 100vh;
}

#sidebar {
  width: 350px;
  background-color: rgb(56, 34, 21);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

#main-pane {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
    height: auto;
    max-height: 40vh;
    overflow-y: auto;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  }

  #main-pane {
    width: 100%;
    flex-grow: 1;
    height: auto;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  #sidebar {
    max-height: 100vh;
  }
}

#map {
  position: relative;
}

#map img {
  object-fit: contain;
  max-height: 100vh;
}

.marker {
  position: absolute;
  width: 22px;
  height: 22px;
  background-size: cover;
  transform: translate(-50%, -50%);
}

.marker.cs {
  background-image: url("img/cs.png");
}

.marker.fasttravel {
  background-image: url("img/fasttravel.png");
}

.marker.guessr {
  background-image: url("img/guess.png");
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #1e90ff;
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.2);
}

.filter-item input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #1e90ff;
  border-radius: 4px;
  background-color: #333;
  position: relative;
  top: -1px;
  left: -1px;
}

.filter-item input[type="checkbox"]:checked::before {
  background-color: #1e90ff;
}

.filter-item input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
}

.filter-item label {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.filter-item img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

#sidebar-bottom {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  box-sizing: content-box;
  flex-shrink: 0;
  padding-top: 10px;
}

.result-comment {
  text-align: center;
  font-size: 1.2em;
}
